<div class="container-fluid">
    <div class="row">
        <div class="Absolute-Center">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <form role="form">
                    <h2 style="color:whitesmoke">Register</h2>
                    <div class="form-group input-group">
                        <label for="username" class="sr-only">Username</label>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" id="username" ng-model="$ctrl.username" class="form-control" placeholder="Username" required autofocus>
                    </div>
                    <div class="form-group input-group">
                        <label for="password" class="sr-only"></label>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" id="password" ng-model="$ctrl.password" class="form-control" placeholder="Password" required autofocus>
                    </div>
                    <div class="form-group input-group">
                        <label for="email" class="sr-only"></label>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="email"id="email" ng-model="$ctrl.email" class="form-control" placeholder="Email"  required autofocus>
                    </div>
                    <div class="btn-toolbar">
                        <button class="btn btn-md btn-primary col-xs" ng-click="$ctrl.register()">Submit</button>
                        <a ui-sref="login" class="btn btn-md btn-primary btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
